{% extends 'base.html.twig' %}

{% block title %}Home - Cesecommerce{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
{% endblock %}


{% block body %}
{{ include('main/front_templates/carousel.html.twig') }}

    <div class="page-title">
        <p>Welcome to Ces'ecommerce</p>
    </div>

    {%  block javascripts %}
        <script src="{{ asset('assets/js/carousel.js') }}"
    {% endblock %}
{% endblock %}
