{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/cards.css') }}">
{% endblock %}

{% block body %}


        <div class="row">


    {% for subcategory in subcategories | filter(subcategory => subcategory.category.id == 1 ) %}
        <div class="column">
            <div class="card">
                <img class="card-img" src="https://viaplaceholder.com/150.png" alt="CardImage">
                <div class="container">
                    <p class="subcategory-name">{{ subcategory.name }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
        </div>


{% endblock %}